@charset "UTF-8";

/* #contents.no_fv .title {
    color: #FAC63E;
} */

#contents.no_fv .title .sub {
    font-size: .5em;
}

#contact-form .form_list > div {
    margin-bottom: 32px;
}

#contact-form .form_list dt {
    font-weight: bold;
    margin: 4px 0 8px;
}

#contact-form .form_list .required {
    background: #E62323;
    color: #FFF;
    border-radius: 32px;
    padding: 4px 8px;
    font-size: .85em;
    margin-left: 8px;
}

#contact-form .form_list dd {
    margin-left: 0;
}

#contact-form .form_list input[type="text"],
#contact-form .form_list input[type="email"],
#contact-form .form_list input[type="tel"],
#contact-form .form_list textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 6px 4px;
    border: solid 1px #A4A4A4;
    font-size: 16px;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);
}
#contact-form .form_list div .radio_items label {
    display: block;
}

#contact-form .form_list textarea {
    height: 6em;
}

#contact-form .form_list .type_checkbox label,
#contact-form .form_list .type_radio label {
    display: inline-block;
    margin-bottom: 8px;
}

#contact-form .form_list input:invalid {
    background: #FDD;
}
#contact-form .form_list textarea:invalid {
    background: #FDD;
}

#contact-form:invalid button {
    background: #CCC;
    color: #888;
    pointer-events: none;
}

#contact-form .fix_btn {
    background: #1c85d8;
    color: #FFF;
}

@media (min-width: 800px) {
    #contact-form .submit_btn_wrapper {
        display: flex;
        justify-content: space-around;
    }
    #contact-form .form_list div .radio_items {
        display: flex;
    }
}